.kanban-list {
    min-height: 500px;
}

.kanban-column {
    min-height: 60vh;
    background-color: #94bbe9;
    display: inline-block;
}

.kanban-row {
    display: block;
    overflow-y: auto;
    white-space: nowrap;
}